.chat-main
  .group-info
    .group-info__info-item
      %p.group-info__info-item__group-name
        = @group.name
      %p.group-info__info-item__group-member
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group.id), class: "group-info__edit-btn" do
      Edit
  .message-list
    = render partial: 'message', collection: @messages
  .message-form
    = form_for([@group, @message], html:{class: "new-message"}) do |f|
      .input-wrapper
        = f.text_field :content, class: "input-wrapper__input-message", placeholder: "type a text"
        %label.input-wrapper__img-btn
          = icon('fas', 'image')
          = f.file_field :image, class: "input-wrapper__img-btn__file"
      = f.submit :submit, class: "new-message__send-btn"