.side-bar
  .user-name
    .top-item
      %p.top-item__name
        = current_user.name
      .top-item__icons
        = link_to new_group_path(current_user) do
          %label.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %label.fa.fa-cog
  .group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to '#', class:"group-box__link" do
          .group-box__link__group-name
            = group.name
          .group-box__link__group-message
            メッセージはまだありません。